@import url("/css/estandar.css");

/* @import url("https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css"); */
/* @import url("https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css"); */


.contenedor {
  max-width: 1200px;
  margin: 0 auto;
}

.banner {
  height: 388px;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;

  background-image: url("/img/funkos-banner-160.jpg");
}

.ban_textos {
  width: 400px;
  height: 168px;

  margin-left: 108px;
  /* margin-top: 108px; */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  h3 {
    font-family: var(--alternative-font);
    font-weight: 700;
    font-size: 38px;
    line-height: 120%;
  }

  p {
    margin-top: 8px;

    font-family: var(--alternative-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 216px;
    height: 48px;
    margin-top: 48px;
    border-radius: 48px;

    font-family: var(--base-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;

    background-color: white;
  }
}

.card {
  width: 1200px;
  height: 600px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card_textos {
  width: 720px;
  height: 300px;

  h3 {
    width: 480px;

    font-family: var(--alternative-font);
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
  }

  p {
    /* margin: 6px 176px 0px 0; */
    padding-bottom: 24px;

    font-family: var(--alternative-font);
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;

    border-bottom: red solid 2px;
  }

  a {
    width: 300px;
    height: 64px;
    margin-top: 48px;

    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;

    background-color: black;
    border-radius: 32px;

    font-family: var(--alternative-font);
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
  }
}

.card:nth-child(2) .card_img {
  order: -1;
}

