@import url("./estandar.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.admin-login {
  height: 532px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.admin-login h1 {
  font-family: Raleway;
  font-weight: 700;
  font-size: 42px;
  color: var(--dark-solid);

  padding-bottom: 24px;
}

.adm-form {
  height: 216px;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;

}

.adm-frm-labels {
  height: 108px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: Inter;
  font-weight: 400;
  font-size: 24px;
  color: var(--dark-solid);
}

.adm-frm-email,
.adm-frm-pass {
  width: 680px;
  height: 32px;
  margin-bottom: 36px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.adm-frm-email label,
.adm-frm-pass label {
  width: 170px;
}

#lgn-password,
#lgn-email {
  width: 420px;
  height: 35px;
  line-height: 35px;
  overflow: hidden;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 2px solid var(--primary-solid);
  text-align: center;
}

.adm-frm-botons {
  width: 680px;
  height: 208px;
  margin: 32px 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.adm-btn-ingresar,
.adm-recordarme, 
.adm-form a {
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
}

.adm-btn-ingresar {
  background-color: var(--primary-solid);
  color: white;
  width: 144px;
  height: 36px;
  border: 0;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.adm-recordarme {
   color: var(--dark-solid);
   width: 144px;
   border: none;
   padding: 0;
   
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-between;
}

.adm-rec-check {
   transform: scale(1.5);
}