<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/partials/footer.css">
</head>

<body>
    <footer class="contenedor">
        <section class="ftr-arriba">
            <div class="ftr-menu">
                <ul>
                    <li><a href="/shop/shop.html">SHOP</a></li>
                    <li><a href="/admin/login.html">INGRESAR</a></li>
                    <li><a href="/misc/contact.html">CONTACTO</a></li>
                </ul>
            </div>
            <picture class="ftr-logo">
                <img src="/img/branding/isotype.svg" alt="">
            </picture>

        </section>
        <p>All rights reserved @2023 Funkoshop</p>
    </footer>

</body>

</html>