@import url("./estandar.css");

footer {
  height: 284px;

  background-color: var(--dark-bg-solid);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;

  font-family: var(--alternative-font);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;

}

footer p {
  margin: 23px auto;
  color: white;
}

footer a {
  text-decoration: none;
}

footer ul,
footer ol {
  list-style-type: none;
}

.ftr-arriba {
  /* margin-top: 108px; */
  /* margin-bottom: 54px; */

  display: flex;
  flex-direction: row;
  gap: 660px;
  align-items: center;
  /* justify-content: space-between; */
}

.ftr-menu {
  display: flex;
  flex-direction: column;
  /* align-items: center;
      justify-content: space-between; */

  ul {
    width: 116px;
    height: 92px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    list-style-type: none;

    li {
      margin-bottom: 8px;
    }
  }
}
