@import url("../misc/estandar.css");

.contenedor {
  max-width: 1200px;
  margin: 0 auto;
}

.item {
  width: 1200px;
  height: 550px;
  margin: 68px auto;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  font-family: var(--base-font);
  font-weight: 400;
  line-height: 120%;
}

.item_pict {
  width: 560px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.item_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 560px;

  h4 {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 18px;
  }

  h2 {
    font-weight: 700;
    font-size: 38px;
    margin-bottom: 24px;
  }
}

.item_desc {
  font-size: 24px;
  line-height: 120%;

  margin-bottom: 18px;
}

.item_prec {
  font-size: 38px;

  line-height: 120%;
  margin-bottom: 24px;
}

.item_cant {
  width: auto;
  height: 44px;
  margin-bottom: 28px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  line-height: 120%;

  input {
    width: 106px;
    height: 42px;

    padding: auto;

    display: flex;
    align-items: center;
    /* justify-items: center; */
    justify-content: center;
    text-align: center;

    font-size: 26px;
    font-weight: 700;

    border: 1px solid #c9c9c9;
    margin-right: 8px;

    color: red;
  }

  .item_adder {
    width: 24px;
    height: 42px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */

    margin-right: 24px;

    font-size: 14px;

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      width: 20px;
      height: 20px;

      margin-left: 0;
      margin-right: 0;

      font-size: 18px;
      font-weight: 500;
      line-height: 18px;

      background-color: black;
      color: white;
    }
  }
}

.item_cant button {
  border: none;

  width: 180px;
  height: 38px;
  background-color: red;
  color: white;

  font-size: 18px;
}

.item_cuot {
  font-weight: 700;
  font-size: 14px;
  color: #1d84b5;
  text-decoration: none;
}

.hero {
  width: 1200px;

  display: flex;
  flex-direction: column;

  h2 {
    font-family: var(--alternative-font);
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 32px;
  }

  ul {
    width: 1200px;
    height: 512px;
    margin-bottom: 128px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  li {
    width: 360px;
    height: 512px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .her_img {
    height: 352px;

    position: relative;

    /* display: block; */

    p {
      position: absolute;
      width: 96px;
      height: 30px;

      display: flex;
      align-items: center;
      justify-content: center;

      font-family: var(--alternative-font);
      font-weight: 500;
      font-size: 14px;
      line-height: 120%;

      background-color: red;
      color: white;
      top: 0;
      right: 0;
    }
  }

  h4 {
    font-family: var(--base-font);
    margin-bottom: 13px;
    font-weight: 700;
    font-size: 18px;
    line-height: 120%;
  }

  .her_collec {
    margin-bottom: 13px;
    font-family: var(--alternative-font);
    font-weight: 500;
    font-size: 14px;
    line-height: 120%;
  }

  .her_price {
    margin-bottom: 13px;
    font-family: var(--base-font);
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
  }

  .her_cuotas {
    margin-bottom: 13px;
    color: #1d84b5;
    font-family: var(--base-font);
    font-weight: 700;
    font-size: 12px;
    line-height: 120%;
  }
}
