<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="menu-flex.css" />
  </head>
  <body>
    <div class="menu">
      <div class="menu-item">
        Menu 1
        <div class="submenu">
          <a href="">Submenu 1</a>
          <a href="">Submenu 2</a>
        </div>
      </div>
      <div class="menu-item">
        Menu 2
        <div class="submenu">
          <a href="">Submenu 1</a>
          <a href="">Submenu 2</a>
        </div>
      </div>
      <div class="menu-item">
        Menu 3
        <div class="submenu">
          <a href="">Submenu 1</a>
          <a href="">Submenu 2</a>
        </div>
      </div>
    </div>
  </body>
</html>
