<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %> - Funkoshop</title>
    <link rel="stylesheet" href="/css/ext/all.min.css">

    <link rel="stylesheet" href="/css/ext/glide.core.min.css">
    <link rel="stylesheet" href="/css/ext/glide.theme.min.css">

    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/vs/slider.css">

</head>

<body>
    <!-- <header id="header"> </header> -->
    <%- include('./partials/header') %>
    
    <main>
        <!-- <banner id="banner"> </banner> -->
        <%- include('./partials/banner') %>

        <div>

            <section class="card contenedor">
                <article class="card_textos">
                    <h3>STAR WARS &<br>THE MANDALORIAN</h3>
                    <p>
                        Disfrutá de una saga que sigue agregando<br>
                        personajes a su colección.
                    </p>
                    <a href="/shop?filter=starwarsl">VER COLECCION</a>
                </article>
                <picture class="card_img">
                    <img src="/img/star-wars/baby-yoda-1.webp" alt="baby yoda">
                </picture>
            </section>

            <section class="card contenedor">
                <article class="card_textos">
                    <h3>POKEMON INDIGO</h3>
                    <p>
                        Atrapa todos los que puedas y disfruta de <br>
                        una colección llena de amigos.
                    </p>
                    <a href="/shop?filter=pokemon">VER COLECCION</a>
                </article>
                <picture class="card_img">
                    <img src="/img/pokemon/vulpix-1.webp" alt="baby yoda">
                </picture>
            </section>

            <section class="card contenedor">
                <article class="card_textos">
                    <h3>HARRY POTTER</h3>
                    <p>
                        Revive los recuerdos de una saga <br>
                        llena de magia y encanto.
                    </p>
                    <a href="/shop?filter=harrypotter">VER COLECCION</a>
                </article>
                <picture class="card_img">
                    <img src="/img/harry-potter/snape-patronus-1.webp" alt="Luna">
                </picture>
            </section>

        </div>

    </main>

    <section class="indx-slider contenedor">
        <h2>NUEVOS INGRESOS</h2>
        <div class="glide">
            <div class="glide__track" data-glide-el="track">
                <ul id="cardContainer" class="glide__slides">
                </ul>
            </div>
            <div class="glide__arrows" data-glide-el="controls">
                <button class="glide__arrow glide__arrow--left" data-glide-dir="<">
                    <iconify-icon icon="akar-icons:arrow-left-thick"></iconify-icon>
                </button>
                <button class="glide__arrow glide__arrow--right" data-glide-dir=">">
                    <iconify-icon icon="akar-icons:arrow-right-thick"></iconify-icon>
                </button>
            </div>
        </div>
    </section>

    <!-- <footer id="footer"></footer> -->
    <%- include('./partials/footer') %>

    <script src="/js/ext/all.min.js"></script>
    <script src="/js/ext/glide.js"></script>

    <script>
        // const path = require('path');
        // fetch(path.resolve(__dirname, "main/header.html")
        // fetch("main/header.html")
        // fetch("main/header.html")
        // console.log(path);
        fetch("views/header.html")
            .then((response) => response.text())
            .then((data) => {
                const headerContainer = document.getElementById("header");
                headerContainer.innerHTML = data;
            });

        fetch("/pages/misc/banner.html")
            .then((response) => response.text())
            .then((data) => {
                const bannerContainer = document.getElementById("banner");
                bannerContainer.innerHTML = data;
            });

        // fetch(path.join(__dirname, "/views/main/footer.html")
        fetch("main/footer.html")
            .then((response) => response.text())
            .then((data) => {
                const footerContainer = document.getElementById("footer");
                footerContainer.innerHTML = data;
            });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/glide.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

    <script src="/js/vs/slider.js"></script>

</body>

</html>