/* @import url("../misc/estandar.css"); */

.banner {
  height: 388px;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;

  background-image: url("../../img/funkos-banner-160.jpg");

}

.ban_textos {
  width: 400px;
  height: 168px;

  margin-left: 108px;
  /* margin-top: 108px; */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  h3 {
    font-family: var(--alternative-font);
    font-weight: 700;
    font-size: 38px;
    line-height: 120%;
  }

  p {
    margin-top: 8px;

    font-family: var(--alternative-font);
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
  }

  a:hover {
    background-color: lightpink;
  }

  a {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 216px;
    height: 48px;
    margin-top: 48px;
    border-radius: 48px;

    font-family: var(--base-font);
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;

    background-color: white;
    color: black;
  }
}
