/* @import url("../misc/estandar.css"); */

.card {
  width: 1200px;
  height: 600px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  
  a {
    color: white;
  }

  a:hover {
    color: lightpink;
  }
}

.card_textos {
  width: 720px;
  height: 300px;

  h3 {
    width: 480px;

    font-family: var(--alternative-font);
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
  }

  p {
    /* margin: 6px 176px 0px 0; */
    padding-bottom: 24px;

    font-family: var(--alternative-font);
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;

    border-bottom: red solid 2px;
  }

  a {
    width: 300px;
    height: 64px;
    margin-top: 48px;

    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;

    background-color: black;
    border-radius: 32px;

    font-family: var(--alternative-font);
    font-weight: 500;
    font-size: 24px;
    line-height: 120%;
  }
}

.card:nth-child(2) .card_img {
  order: -1;
}

