<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>card</title>
    <link rel="stylesheet" href="/css/misc/card.css">
</head>
<body>
    <section class="card contenedor">
        <article class="card_textos">
            <h3>STAR WARS &<br>THE MANDALORIAN</h3>
            <p>
                Disfrutá de una saga que sigue agregando<br>
                personajes a su colección.
            </p>
            <a href="/pages/shop/coleccion.html">VER COLECCION</a>
        </article>
        <picture class="card_img">
            <img src="/img/star-wars/baby-yoda-1.webp" alt="baby yoda">
        </picture>
    </section>
</body>
</html>