<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funkoshop - Contacto</title>
    <link rel="stylesheet" href="/css/ext/all.min.css">

    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <!-- <header id="header"> </header> -->
    <%- include('../partials/header') %>

    <div class="contacto row contenedor" style="display: flex; flex-direction: row; width: 600px; align-items: center; justify-content: center; margin: 32px auto;">
        <form id="cForm" class="derecha">
            <div class="row">
                <div class="column">
                    <label for="name">Nombre</label>
                    <input type="text" id="name" placeholder="nombre" required="">
                </div>
                <div class="column">
                    <label for="correo">Correo Electrónico</label>
                    <input type="email" id="email" placeholder="correo@correo.com" required="">
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <label for="celular">Teléfono</label>

                    <input type="tel" id="cel" placeholder="celular" required="">

                </div>
                <div class="column">
                    <label for="zona">Zona de Residencia</label>
                    <select name="zona" id="residence">
                        <option value="blank" disabled="" selected="" hidden="">Elige una opción</option>
                        <option value="Capital Federal">Capital Federal</option>
                        <option value="GBA">GBA</option>
                        <option value="Argentina Norte">Resto del país - Zona Norte</option>
                        <option value="Argentina Sur">Resto del país - Zona Sur</option>
                    </select>
                </div>
            </div>

            <div class="column">
                <label for="comentarios">Comentarios:</label>
                <textarea name="comentarios" id="comments" cols="30" rows="5" maxlength="255"></textarea>
            </div>
            <input id="btn" class="btn-solid" type="submit" value="Enviar">
        </form>
        <div class="izquierda">
            <div class="mensaje">
                <h2>Contáctanos!</h2>
                <p>Siempre estamos dispuestos a escuchar nuevas propuestas.</p>
                <p>Agrega tus datos y tus comentarios para ofrecerte lo mejor!</p>
            </div>
        </div>
    </div>

    <!-- <footer id="footer"></footer> -->
    
    <%- include('../partials/footer') %>

    <script src="/js/ext/all.min.js"></script>
    <script src="/js/ext/glide.js"></script>

    <script>
        fetch("/pages/partials/header.html")
            .then((response) => response.text())
            .then((data) => {
                const headerContainer = document.getElementById("header");
                headerContainer.innerHTML = data;
            });

        fetch("/pages/partials/footer.html")
            .then((response) => response.text())
            .then((data) => {
                const footerContainer = document.getElementById("footer");
                footerContainer.innerHTML = data;
            });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/glide.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

    <script src="/js/vs/slider.js"></script>

</body>

</html>