<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop - Funkoshop</title>
    <link rel="stylesheet" href="../../css/index.css">
</head>

<body class="grid-fixed">
    <header class="page-header">
        <nav class="navbar contenedor">
            <pictore class="navbar__logo">
                <a href="index">
                    <img src="../../img/branding/logo_light_horizontal.svg" alt="isologo">
                </a>
            </pictore>
            <ul class="navbar__menu">
                <li class="navbar__item with-submenu">
                    <a href="/shop" class="navbar__link with-icon">SHOP <span class="iconify" data-icon="uil:chevron-down"></span>
                    </a>
                    <ul class="submenu">
                        <li class="submenu__item"><a href="/shop?filter=funkos" class="submenu__link">Funkos</a></li>
                        <li class="submenu__item"><a href="/shop?filter=funkos" class="submenu__link">Remeras</a></li>
                        <li class="submenu__item"><a href="/shop?filter=funkos" class="submenu__link">Llaveros</a></li>
                    </ul>
                </li>
                <li class="navbar__item"><a href="contact" class="navbar__link">CONTACTO</a></li>
                <li class="navbar__item"><a href="auth/login" class="navbar__link">LOGIN</a></li>
                <li class="navbar__item"><a href="shop/carrito" class="navbar__link">CARRITO</a></li>
            </ul>
        </nav>
    </header>

    <main id="create" class="contenedor">
        <h2 class="create__title">CREAR NUEVO ITEM</h2>
        <form action="/admin/create" method="POST" enctype"applicat" class="create__form">
            <div class="form__flex">
                <div class="form__box--flex">
                    <label for="collection" class="form__label">Categoría:</label>
                    <select name="collection" id="collection" class="form__select" required>
                        <option value="" disabled selected hidden>Sleccionar</option>
                        <option value="Figuras Coleccionables">Figuras Coleccionables</option>
                        <option value="Llaveros">Llaveros</option>
                        <option value="Remeras">Remeras</option>
                    </select>
                </div>
                <div class="form__box--flex">
                    <label for="follection" class="form__label">Licencia:</label>
                    <select name="collection" id="collection" class="form__select" required>
                        <option value="" disabled selected hidden>Seleccionar</option>
                        <option value="starWars">Star Wars</option>
                        <option value="pokemon">Pokémon</option>
                        <option value="harryPotter">Harry Potter</option>
                    </select>
                </div>
            </div>
            <div class="form__box--flex">
                <label for="name" class="form__label">Nombre del producto:</label>
                <input type="text" name="name" id="name" placeholder="Nombre del producto" class="form__input">
            </div>
            <div>
                <textarea name="description" id="description" cols="30" rows="10"
                    placeholder="Area de texto"></textarea>
            </div>
            <div class="form__flex">
                <div class="form__box-flex">
                    <label for="sku" class="form__label">SKU:</label>
                    <input type="text" name="sku" id="sku" placeholder="SKU" class="form__input">
                </div>
                <div class="form__box--flex">
                    <label for="price" class="form__label">Precio:</label>
                    <div class="form__input--wrapper">
                        <span>$</span>
                        <input type="text" name="name" id="name" placeholder="Precio" class="form__input">
                    </div>
                </div>
                <div class="form__box-flex">
                    <label for="stock" class="form__label">Stock:</label>
                    <div class="form__input--wrapper">
                        <input type="text" name="stock" id="stock" placeholder="Stock" class="form__input">
                    </div>
                </div>
            </div>
            <div class="form__flex">
                <div class="form__box--flex">
                    <label for="descuento" class="form__label">Descuento:</label>
                    <div class="form__input--wrapper">
                        <input type="text" name="descuento" id="descuento" placeholder="0" class="form__input">
                    </div>
                </div>
                <div class="form__box--flex">
                    <label for="cuotas" class="form__label">Cuotas:</label>
                    <select name="cuotas" id="cuotas" class="form__select" required>
                        <option value="0" selected>Contado, Débito, Crédito 1 pago</option>
                        <option value="3">3 Cuotas sin interés</option>
                        <option value="6">6 Cuotas sin interés</option>
                        <option value="12">12 Cuotas sin interés</option>
                    </select>
                </div>
            </div>
            <div class="form__box--flex">
                <label for="images" class="form__label">Descuento:</label>
                <div class="form__input--wrapper">
                    <input type="file" name="images" id="images" multiple>
                </div>
            </div>
            <div class="form__flex">
                <input type="submit" class="form__btn btn btn--primary btn--larg" value="Crear">
                <input type="reset" class="form__btn btn btn--primary btn--larg" value="Limpiar">
            </div>
        </form>
    </main>
    <footer class="footer">
        <nav class="navbar contenedor">
            <ul class="navbar__item">
                <li class="navbar_-item"> <a href="/shop" class="navbar__link">SHOP</a> </li>
                <li class="navbar"><a href="/register" class="navbar__link">REGISTRARSE</a></li>
                <li class="navbar"><a href="/login" class="navbar__link">LOGIN</a></li>
                <li class="navbar"><a href="/contacto" class="navbar__link">CONTACTO</a></li>
            </ul>
            <picture class="navbar__logo">
                <a href="/index">
                    <img src="../../img/footer/SvgjsG8619.png" alt="logo">
                </a>
            </picture>
        </nav>
    </footer>

</body>

</html>