<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Funkoshop</title>
    <link rel="stylesheet" href="/css/partials/header-admin.css">
</head>

<body>
    
    <header class="">
        <nav class="header contenedor">
            <div class="hd_logo">
                <picture>
                    <a href="/index">
                        <img src="/img/branding/logo_light_horizontal.svg" alt="Logo Funkoshop" />
                    </a>
                </picture>
            </div>
            <div class="hd_menu">
                <ul class="hd_menu_li">
                    <li>
                        <a href="/shop">SHOP</a>
                    </li>
                    <li>
                        <a href="/contact">CONTACTO</a>
                    </li>
                    <li>
                        <a href="/auth/register">REGISTRO</a>
                    </li>

                </ul>
            </div>
        </nav>
    </header>
</body>

</html>