/* @import url("../misc/estandar.css"); */

/* *************************************** */
/* ************* F O O T E R ************* */
/* *************************************** */

.reg-footer {
   width: 1440px;
    height: 343px;
    /* padding: 85px 110px; */
    background-color: var(--dark-solid);

    display: flex;
    flex-direction: column;
    flex-wrap: unset;
    align-items: center;
    align-content: center;
    justify-content: space-between;

    color: white;
    
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
}

.reg-footer-fila1 {
   width: 1440px;
   padding: 85px 110px;

   display: flex;
   flex-direction: row;
   flex-wrap: unset;
   align-items: center;
   align-content: center;
   justify-content: space-between;
}

.reg-ft-logo {
   width: 143px;
   height: 116px;
}

.reg-ft-logo img {
   width: 100%;
}
