/* @import url("/css/estandar.css"); */

header {
  background-color: var(--dark-bg-solid);
  /* background-color: var(--dark-bg-solid); */

  a {
    color: white;
  }

  a:hover {
    color: lightpink;
  }
}

.contenedor {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  width: 1200px;
  height: 144px;

  /* margin: 0 120px; */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-between;
}

.hd_logo {
  max-width: 300px;
}

.hd_menu_li {
  width: 406px;
  height: 32px;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  align-content: center;

  list-style-type: none;
}

.hd_menu_li li {
  margin: 0;
  padding: 0;

  font-weight: 500;
  font-family: Raleway;
  font-size: 20px;
  line-height: 120%;
}

.submenu:hover .with-icon  {
  /* transform: rotate(-90deg); */
}

.submenu {
  display: none;
  width: 250px;
  position: absolute;
  z-index: 10;
}

.with-submenu .with-icon {
  transition: transform 0.3s;
}

/* .with-submenu:hover .with-icon {
  transform: rotate(-90deg);
} */

.with-submenu.expanded .with-icon {
  transform: rotate(0);
}

.navbar__item {
  margin-right: 10px;
}

.navbar__link {
  text-decoration: none;
  color: #ffffff;
}

.submenu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.with-submenu:hover .submenu {
  display: block;
  background-color: red;
  .submenu__item {
    margin-bottom: 6px;
  }
}