/* @import url("../misc/estandar.css"); */



.completar {
    height: 840px;
    background-color: white;
    padding: 0;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: unset;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.comp-titl {
    height: 195px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;

    font-style: Raleway;
    letter-spacing: 0.04em;
    color: var(--dark-solid);

}

.comp-titl h1 {
    display: flex;

    margin-bottom: 36px;

    font-weight: 700;
    font-size: 42px;
    /* margin-top: 28px; */
    line-height: 49px;
}

.comp-titl h2 {
    display: flex;

    margin: 0;

    font-weight: 500;
    font-size: 32px;
    /* margin-top: 28px; */
    line-height: 38px;
}

.comp-form {
    width: 840px;
    height: 640px;
    /* height: 292px; */

    /* background-color: tomato; */

    display: flex;
    flex-direction: column;
    flex-grow: unset;
    flex-wrap: unset;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;

    font-style: Inter;
    font-weight: 400;
}

.reg-form {
    width: 840px;

    font-size: 24px;

    display: flex;
    flex-direction: column;
    flex-grow: unset;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.reg-frm-labels {
    width: 457px;
    height: 276px;

    display: flex;
    flex-direction: column;
    flex-grow: unset;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

.reg-frm-nombre,
.reg-frm-apellido,
.reg-frm-email,
.reg-frm-pass,
.reg-frm-passconf {
    width: 457px;
    height: 29px;
    line-height: 29px;
    margin-bottom: 24px;

    display: flex;
    flex-direction: row;
    flex-grow: unset;
    align-items: center;
    align-content: center;
    justify-content: space-between;

}

.reg-frm-passconf {
    margin-bottom: 0;
}

#reg-nombre:hover,
#reg-apellido:hover,
#reg-email:hover,
#reg-password:hover,
#reg-passconf:hover  {
    background-color: #c0e0f3;
}

#reg-nombre::placeholder,
#reg-apellido::placeholder,
#reg-email::placeholder,
#reg-password::placeholder,
#reg-passconf::placeholder  {
    color: #1D84B580;
}

#reg-nombre,
#reg-apellido,
#reg-email,
#reg-password,
#reg-passconf {
    width: 208px;
    height: 29px;

    font-size: 21px;
    border-top: none;
    border-left: none;
    border-right: none;

    border-bottom-width: 2px;
    border-bottom-color: var(--primary-solid);
}

.reg-frm-botons {
    width: 457px;
    font-size: 21px;
    
    display: flex;
    flex-direction: row-reverse;
    flex-grow: unset;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.reg-frm-botons [type=checkbox] {
    transform: scale(1.2);
}

.reg-btn-registrar {
    width: 103px;
    height: 39px;
    background-color: var(--primary-solid);
    color: white;

    font-size: 1em;  
}

